@import "./variables";
@import "./global";
@import "./desktop";
@import "./tablet";
@import "./landscape";
@import "./notTouchscreen";
@import "./animations";

.App {
    position: relative;
    height: 100%;
    width: 100%;
}

// #######################################
//      AUTH
// #######################################

.Auth {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .formContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100% - #{$navBarheight});
        width: 100%;

        .icon {
            height: $navBarheight * 0.6;
            max-height: $navBarheight * 0.6;
            min-height: $navBarheight * 0.6;
            width: $navBarheight * 0.6;
            max-width: $navBarheight * 0.6;
            min-width: $navBarheight * 0.6;
            color: black;
            margin-bottom: 0.5rem;
        }

        .title {
            background: linear-gradient(to right, #c585d8 0%, #9c67fb 100%);
            background-clip: text;
            color: $purple;
            font-size: 1.2rem;
            font-weight: 700;
            -webkit-text-fill-color: transparent;
            margin-bottom: 2rem;
        }
    }

    .error {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.2s ease-in-out;
        height: $navBarheight;
        width: 100%;
        color: rgb(235, 84, 71);
        opacity: 0;
        font-weight: 500;

        &.visible {
            opacity: 1;
        }
    }
}

// #######################################
//      LAYOUT
// #######################################

.DesktopLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.Loading {
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $background;
    opacity: 0;

    &.visible {
        pointer-events: all;
        opacity: 1;
    }

    .icon {
        height: 2.5rem;
        max-height: 2.5rem;
        min-height: 2.5rem;
        width: 2.5rem;
        max-width: 2.5rem;
        min-width: 2.5rem;
        color: black;
        opacity: 0.3;
    }
}

.MobileLayout {
    position: relative;
    height: 100%;
    width: 100%;

    .mainPagesContent {
        position: absolute;
        height: calc(100% - #{$navBarheight});
        width: 100%;
        top: 0;
        left: 0;
    }
}

.Navbar {
    position: absolute;
    display: flex;
    transition: transform 0.3s ease-in-out;
    height: $navBarheight;
    width: 200%;
    bottom: 0;
    left: 0;

    &.showBack {
        transform: translateX(-50%);
    }

    .icon {
        height: $navBarheight - ($margin * 2);
        max-height: $navBarheight - ($margin * 2);
        min-height: $navBarheight - ($margin * 2);
        width: $navBarheight - ($margin * 2);
        max-width: $navBarheight - ($margin * 2);
        min-width: $navBarheight - ($margin * 2);
        color: $text;
        padding: $navBarheight * 0.23;
    }

    .main {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: calc(100% - #{$margin * 2});
        width: calc(50% - #{$margin * 2});
        top: 0;
        left: 0;
        margin: $margin;

        .icon {
            transition: opacity 0.2s ease-in-out;
            opacity: 0.2;

            &.selected {
                opacity: 0.8;
            }
        }
    }

    .back {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - #{$margin * 2});
        width: calc(50% - #{$margin * 2});
        top: 0;
        left: 50%;
        margin: $margin;

        .icon,
        p {
            pointer-events: none;
            opacity: 0.8;
        }

        p {
            padding-right: $navBarheight * 0.23;
            font-size: 0.9rem;
            font-weight: 700;
        }
    }
}

.Popup {
    transition: background-color 0.3s ease-out;
    position: absolute;
    height: calc(100% - #{$navBarheight});
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: transparent;

    &.opaque {
        background-color: $background;
        pointer-events: all;
    }

    .page {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        pointer-events: none;

        &.visible {
            pointer-events: all;
        }
    }
}

// #######################################
//      PAGES
// #######################################

.Search,
.Home {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .section {
        font-size: 1.1rem;
        margin: 2rem $margin 0;
        opacity: 0.9;
        font-weight: 500;
    }

    .container {
        overflow-x: auto;
        overflow-y: hidden;
        overscroll-behavior: contain;
        position: relative;
        width: fit-content;
        max-width: 100%;
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
    }
}

.Search {
    .results {
        transition: opacity 0.2s ease-in-out;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        opacity: 0;
        pointer-events: none;

        &.visible {
            pointer-events: all;
            opacity: 1;
        }
    }

    .inputsContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex: 1;

        .form {
            max-width: 25rem;
        }
    }
}

.Stats {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 242, 255, 0.2);
}

.Settings {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(132, 0, 255, 0.2);
}

.Book,
.Author {
    position: relative;
    height: 100%;
    width: 100%;
    padding: $margin;
    $marginBot: 1.5rem;

    .mainContent {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        padding: 1.5rem;
    }

    .cover,
    .noCover {
        position: relative;
        height: 40%;
        min-height: 40%;
        max-height: 40%;
        user-select: none;
        pointer-events: none;
    }

    .noCover {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        max-width: 13rem;

        .icon {
            height: 4rem;
            max-height: 4rem;
            min-height: 4rem;
        }
    }

    .photo,
    .noPhoto {
        position: relative;
        height: 35%;
        min-height: 35%;
        max-height: 35%;
        user-select: none;
        pointer-events: none;
    }

    .noPhoto {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        max-width: 13rem;

        .icon {
            height: 4rem;
            max-height: 4rem;
            min-height: 4rem;
        }
    }

    .details {
        width: 100%;
        text-align: center;
        font-size: 0.85rem;
        opacity: 0.5;
        margin-bottom: $marginBot;
        margin: $marginBot * 0.5 0 $marginBot;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            &:first-child {
                margin-bottom: $marginBot * 0.2;
            }
        }
    }

    .title {
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: $marginBot * 0.2;

        &.name {
            margin-bottom: $marginBot;
        }
    }

    .author {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        opacity: 0.5;
        margin-bottom: $marginBot;
    }

    .status {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 3rem;
        max-height: 3rem;
        min-height: 3rem;
        width: 85%;
        max-width: 15rem;
        color: $purple;
        padding: 0 1.6rem;
        font-weight: 600;
        margin-bottom: $marginBot;
    }

    .finishedOn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: $marginBot 0;
        text-align: center;
        height: 3rem;
        max-height: 3rem;
        min-height: 3rem;
        padding: 0 1.6rem;

        .label {
            font-size: 0.85rem;
            opacity: 0.5;
        }

        .date {
            font-size: 1rem;
            font-weight: 600;
            opacity: 0.8;
        }
    }

    .description {
        font-size: 0.9rem;
        font-weight: 500;
        opacity: 0.8;
        margin-bottom: $marginBot;
        width: 100%;
        max-width: 50rem;

        p {
            margin-bottom: $marginBot * 0.5;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            color: $purple;
            text-decoration: inherit;
        }
    }

    .container {
        overflow-x: auto;
        overflow-y: hidden;
        overscroll-behavior: contain;
        position: relative;
        width: fit-content;
        max-width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: $marginBot;

        &.center {
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .loading {
                height: 2rem;
                max-height: 2rem;
                min-height: 2rem;
                opacity: 0.7;
                margin-bottom: $marginBot * 0.5;
            }

            .loadingWorks {
                font-size: 1rem;
                font-weight: 600;
                opacity: 0.8;
            }
        }
    }

    .links {
        position: relative;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        justify-content: center;

        .link {
            align-self: center;
            position: relative;
            max-width: 8rem;
            max-width: 8rem;
            min-width: 8rem;
            padding: $marginBot $marginBot * 0.3;
            margin: 0 $marginBot * 0.5 $marginBot $marginBot * 0.5;

            .linkInfoContainer {
                position: relative;
                width: 100%;
                max-width: 100%;
                min-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .linkIcon {
                    width: 50%;
                    max-width: 2rem;
                    margin-bottom: $marginBot * 0.5;
                    color: $purple;
                }

                .linkNameContainer {
                    position: relative;
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                }

                .linkName {
                    text-align: center;
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 0.75rem;
                    font-weight: 600;
                    opacity: 0.8;

                    .anchor {
                        display: none;
                    }
                }
            }
        }
    }
}

.Score {
    position: relative;
    width: 85%;
    max-width: 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    touch-action: none;

    .star {
        transition: opacity 0.2s ease-in-out;
        width: 100%;
        color: $purple;
        opacity: 0.2;
        padding: 20%;
        pointer-events: none;

        &.active {
            opacity: 1;
        }
    }
}

// #######################################
//      COMPONENTS
// #######################################

.BookCover {
    position: relative;
    overflow: hidden;
    margin-left: $margin;

    &.last {
        margin-right: $margin;
    }

    .cover {
        object-fit: cover;
    }

    .noCoverContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .icon {
            height: 20%;
            max-height: 20%;
            min-height: 20%;
            margin: 0.5rem;
        }

        .titleContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 0.8rem;
            font-weight: 600;
            margin-bottom: 0.2rem;
        }

        .authorContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 0.7rem;
            font-weight: 500;
            opacity: 0.5;
        }

        .anchor {
            display: none;
        }
    }
}

.AuthorPhoto {
    position: relative;
    overflow: hidden;
    margin-left: $margin;

    &.last {
        margin-right: $margin;
    }

    .coverContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;

        .photo {
            object-fit: cover;
            border-radius: 0.5rem;
        }

        .icon {
            padding: 2rem;
            border-radius: 0.5rem;
            color: rgba(0, 0, 0, 0.2);
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex: 1;
            text-align: center;
            font-size: 0.8rem;
            font-weight: 600;
        }

        .anchor {
            display: none;
        }
    }
}

// #######################################
//      OTHERS
// #######################################

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    max-width: 18rem;

    .input {
        height: 3rem;
        max-height: 3rem;
        min-height: 3rem;
        width: 100%;
        color: $text;
        margin-bottom: 1rem;
        padding: 0 1.6rem;
        font-size: 0.9rem;
        -webkit-appearance: none;

        &::placeholder {
            color: $text;
            opacity: 0.4;
            font-size: 1rem;
        }
    }

    .submit {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 3rem;
        max-height: 3rem;
        min-height: 3rem;
        width: 100%;
        background: none;
        background-color: $purple;
        color: white;
        border: none;
        outline: none;
        padding: 0 1.6rem;
        font: inherit;
        font-weight: 600;
        -webkit-appearance: none;

        .loadingIcon {
            height: 1rem;
            max-height: 1rem;
            min-height: 1rem;
            width: 1rem;
            max-width: 1rem;
            min-width: 1rem;
            color: white;
        }
    }

    .change {
        width: fit-content;
        opacity: 0.7;
        padding: 1rem 2rem;
        font-weight: 600;
        text-align: center;
    }
}

.neoDiv {
    box-shadow: 0.25rem 0.25rem 0.35rem #bebebe, -0.25rem -0.25rem 0.35rem #ffffff;
    background-color: $background;
    border-radius: 0.5rem;
}

.neoButton {
    box-shadow: 0.25rem 0.25rem 0.35rem #bebebe, -0.25rem -0.25rem 0.35rem #ffffff;
    background-color: $background;
    border-radius: 100vw;
}

.neoInput {
    box-shadow: 0.25rem 0.25rem 0.35rem #bebebe inset, -0.25rem -0.25rem 0.35rem #ffffff inset;
    background-color: $background;
    border-radius: 100vw;
}
