$background: rgb(230, 230, 230);
$text: rgb(25, 25, 25);

$fontSize: 16px;
$purple: rgb(178, 119, 230);
$borderRadius: 8px;
$margin: 0.6rem;
$marginBot: 1.5rem;
$navBarheight: 3.5rem;

$coverHeight: 12rem;
